/* Prevent copy paste for all elements except text fields */
		*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
		input, textarea  { -webkit-user-select:text; }
		body { background-color:white; color:black }
html{
	height: 100%;
	width:100%;
}
body{
height: 100%;
width:100%;
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
main{
	overflow: hidden;
}
.login{
	color:#fff;
	float: none!important;
	margin:10% auto;
}
.login label{
	font-size: 22px;
}
.login button{
	margin-top: 15px;
}
.login input[type="checkbox"]{
	background-color: #fff;
	-ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3);
	/*vertical-align: middle;*/
	margin-left: 15px;
}
.home {
	width: 60%;
	height: 150px;
	margin:10% 20%;
	background-color: #fff;
	-webkit-box-shadow: 2px 1px 17px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    2px 1px 17px 0px rgba(255, 255, 255, 0.75);
	box-shadow:         2px 1px 17px 0px rgba(255, 255, 255, 0.75);
	border: 3px solid #cecece;
}
.home span{
	font-size: 2.6em;
	color:#333;
	position: relative;
	top: 30%;
}
.page-show{
	position: relative;
}
.page-hidden{
	position: absolute;
	top: -100%;
}
@media(max-width:500px){
	.home span{
		left: 10%;
	}
}